<div id="page">
  <ul class="cb-slideshow">
    <li><span>Image 01</span><div><h3>Co·no·cer</h3></div></li>
    <li><span>Image 02</span><div><h3>Re·la·jar·te</h3></div></li>
    <li><span>Image 03</span><div><h3>Sen·tir</h3></div></li>
    <li><span>Image 04</span><div><h3>Ex·plo·rar</h3></div></li>
    <li><span>Image 05</span><div><h3>Dis·fru·tar</h3></div></li>
    <li><span>Image 06</span><div><h3>Des·cu·brir</h3></div></li>
  </ul>
  <div class="flexsearch w3-center">
    <div class="flexsearch--wrapper">
      <form>
        <input type="search" placeholder="Buscar">
      </form>
    </div>
  </div>
</div>
