<div ng-controller="resultsController" class="page-content w3-center">
  <div>
    <div ng-hide="noResults" ng-repeat="x in results track by $index" ng-class="{'div_hover':hovering}" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
      <div style="display:grid">
          <div>
            <div class="image-box">
              <img src='{{x.imagePath}}' style = "height: 100%; width: 100%;">
            </div>
            <h1 style="color: black;">{{x.city}}</h1>
              <div style="display: flex; padding-right: 5%">
                <p style="color: black; text-align: justify; text-justify: inter-word; margin-left: 20%;">{{x.description}}</p>
              </div>
              <div style="display: flex; float: right; padding-right: 5%">
                <p class = "hashtag"ng-repeat="hashtag in x.hashtags track by $index">#{{hashtag}}</p>
              </div>
          </div>
          <hr>
      </div>
    </div>
  </div>
  <div ng-show="noResults">
    <h2><b>No results, but you might be interested in these options.</b></h2><br>
    <div class="w3-row-padding w3-padding-16 w3-center">
      <div ng-repeat="x in records track by $index" class="w3-third" ng-class="{'div_hover':hovering}" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
        <img src='{{x.imagePath}}'  style="width:100%; padding-top:5%">
        <h3>{{x.city}}</h3>
      </div>
    </div>
  </div>
</div>
