<div class="w3-bar-block w3-hide-small ads-column">
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>

<div class="ads-column w3-bar-block w3-hide-small" style="margin-left:82%">
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>

<div class="page-content w3-center">
  Una enumeración es la expresión sucesiva de las partes de que consta un todo, ya sea total o parcialmente. También se la llama lista, en especial cuando está dispuesta verticalmente, a modo de tabla o cuadro, y relación. No debe confundirse con la numeración, que es la acción de dar números a algo. A cada elemento de las enumeraciones también se lo llama ítem o apartado.

En las presentaciones (académicas o profesionales) se hace uso abundante de listas, para organizar mejor la exposición de la información.
En sistemas como HTML, TeX y similares hay tres tipos básicos:
listas numeradas u ordenadas,
listas con topos (o listas con viñetas) o sin orden,
descripciones (como en glosarios).
A la hora de montar listas, hay que tener en cuenta varios puntos:
la continuidad y coherencia gramatical;
la puntuación tras la introducción (punto, dos puntos o nada);
la puntuación tras los elementos (coma, punto y coma, punto o nada);
la mayúscula o la minúscula al comienzo de cada ítem (que está relacionado con la puntuación).
</div>
